<!DOCTYPE html>
<html lang="en">
  {% include "_partials/head.njk" %}
<body>
  <div class="auth-wrapper">
    <!--O layout que herdar esta estrutura pode incluir o que quiser dentro do block-->
    {% block body %} 
      
    {% endblock %}
  </div>
</body>
</html>
