<!DOCTYPE html>
<html lang="en">
  {% include "_partials/head.njk" %}
<body>
  <div class="auth-wrapper">
    {% block body %} <!--O layout que herdar esta estrutura pode incluir o que quiser dentro do block-->
      
    {% endblock %}
  </div>
</body>
</html>
